@media (max-width: 1400px) {
    #box {
        width: 25%;
    }
    #table {
        width: 75%;
    }
}

@media (max-width: 1024px) {
    #box {
        width: 25%;
    }
    #table {
        width: 75%;
    }
}

@media (max-width: 800px) {
    #content {
        flex-direction: column;
    }
    #box {
        width: 100%;
    }
    #table {
        width: 100%;
        overflow: auto;
    }
    .line>img {
        width: 50px;
    }
}