#E1,
#E2,
#E3,
#E6,
#E7,
#E9,
#E11,
#E15,
#E20,
#E26 {
    animation: rgb-color infinite reverse 1s;

}

@keyframes rgb-color {
    0% {
        opacity: 100%;
    }
    50% {
      opacity: 70%;
    }

    100% {
    opacity: 100%;
    }
} 