body {
    overflow: hidden;
}

#table {
    max-width: 39.5cm;

    height: auto;
    margin: 4px;
}

.line {
    display: flex;

}

.offset {
    margin-left: auto;
}

.line > img {
    padding: 3px;
    width: 4vw;
    opacity: 40%;
}

.botlines {
    padding-top: 30px;
}