@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

/* Scroll */
::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(136, 136, 136, 0.8); 
  
  }

body {
    overflow-y: auto;
    overflow-x: hidden;
}

#content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 40px;

    color: white;
}

#logo {
    width: 210px;
    height: 332px;
    object-fit: cover;
    margin-bottom: 30px;
}

#description {
    margin: 0 25vw 0 25vw;
    color: white;
    text-indent: 40px;
    font-size: 16pt;
}