@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@100;200;300;400;500;600;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

#content {
    margin: 0 15vw 0 15vw;
    display: flex;
    flex-direction: column;
}

.logo {
    display: inline;

    width: 25%;

    object-fit: contain;
}

h1 {
    font-size: 26pt;
}

h2 {
  font-family: 'Merriweather', serif;
  color: rgba(0, 0, 0, 0.61);
  font-size: 12pt;
}

.text {
    width: 74%;
}

h4 {
    font-family: 'Open sans', sans-serif;
    font-size: 12pt;
    color: #808080;
    word-spacing: 10px;
    text-indent: 40px;

}

.logo,
.text {
    display: inline-block;
}