@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@100;200;300;400;500;600;800;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

#content {
    margin: 0 25vw 0 25vw;
    display: flex;
    flex-direction: column;
}

.logo {
    display: inline;

    width: 25%;

    object-fit: contain;
}

.img {
    width: 100%;
}

h2 {
  font-family: 'Merriweather', serif;
  color: rgb(77, 77, 77);
  font-size: 16pt;
  width: 100%;
}

.text {
    width: 74%;
}

h4 {
    font-family: 'Open sans', sans-serif;
    font-size: 12pt;
    color: #808080;
    word-spacing: 10px;
    text-indent: 40px;
}

.sections {
    margin: 25px 0 25px 0;
}

.logo,
.text {
    display: inline-block;
}